/* =========================================
   Variables Paleta de Colores SIG
========================================= */
:root {
    --tea-green: #DDF8C3;
    --tea-green-v2: #C5ECAC;
    --mint-green: #D1EFEE;
    --tiffany-blue: #A8E1DF;
    --sky-blue: #88C7DB;
    --blue-gray: #5D97D1;
    --oxford-blue: #16233E;
    --red-color: #FF6B6B;
    --yellow-color: #FFD700;
    /* Oro */
    /* Nueva variable para rojo */


    /* =========================================
       Variables de Tipografía
    ========================================= */
    --primary-font: 'Helvetica Neue', sans-serif;
    --complementary-font: 'Trebuchet MS', sans-serif;
    --complementary-font-2: 'Fjalla One', sans-serif;
}

/* =========================================
   Importación de Fuentes Primaria: Helvetica Neue
========================================= */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* =========================================
   Importación de Fuente Complementaria: Trebuchet MS
========================================= */
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet-MS.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet-MS-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* =========================================
   Importación de Fuente Complementaria: Fjalla One (GOOGLE FONTS)
========================================= */
@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* =========================================
   Container Styles con Neumorfismo
========================================= */
.container {
    background-color: var(--tea-green-v2);
    /* Fondo adaptado */
    border-radius: 20px;
    padding: calc(var(--bs-gutter-x) * 0.5) 40px;
    box-shadow:
        8px 8px 16px #A1D6A3,
        /* Sombra externa oscura adaptada */
        -8px -8px 16px var(--mint-green);
    /* Sombra externa clara adaptada al fondo del body */
    /* Sombra externa clara ahora coincide con el color de fondo del body */
    text-align: center;
    height: -webkit-fill-available;
    margin-block: 1.5rem;
}


.container h1 {
    font-size: 36px;
    color: var(--oxford-blue) !important;
    /* Asegura que el título usa OXFORD BLUE */
    font-weight: 600;
    margin-bottom: 32px;
    animation: fadeIn 1s ease-in-out;
}

/* Flex Container con columna, neutro, espacio entre */
.flex-column-red {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--tea-green-v2);
    /* Fondo adaptado */
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

.flex-row-content {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: var(--tea-green-v2);
    /* Fondo adaptado */
    border-radius: 20px;
    box-shadow:
        6px 6px 12px #A1D6A3,
        /* Sombra externa oscura adaptada */
        -6px -6px 12px #E6F6D5;
    /* Sombra externa clara adaptada */
    padding: 1rem;
    height: 100%;
    /* gap: 0.5rem; */
}

/* Flex Row Dashboard con Flexbox */
.flex-row-dashboard {
    display: flex;
    /* flex-direction: column; */
    gap: 0.5rem;
    margin: 0.25rem;
}

/* Flex Container con columna, gap y ancho */
.flex-column-gap {
    display: flex;
    gap: 1rem;
    background-color: var(--tea-green);
    /* Fondo adaptado */
    border-radius: 20px;
    box-shadow:
        inset 4px 4px 8px #B3E2A9,
        /* Sombra interna oscura adaptada */
        inset -4px -4px 8px #F0FCD2;
    /* Sombra interna clara adaptada */
    padding: 1rem;
    flex: 1;
    /* Mejor compatibilidad */
}

/* Información General: Gráfico de Barras */
.info-box {
    background-color: ghostwhite;
    border-radius: 20px;
    box-shadow: inset 4px 4px 8px #E0E0E0, inset -4px -4px 8px #FFFFFF;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* =========================================
   BUTTONS
========================================= */

/* =========================================
   Clase Base para Botones Neumórficos
========================================= */
.btn-neumorphic {
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: var(--primary-font);
    text-align: center;
}

/* =========================================
   Botones Neumórficos en Fondos Blancos
========================================= */
.white-bg.btn-neumorphic {
    background-color: var(--tea-green-v2);
    color: var(--oxford-blue);
    box-shadow: 5px 5px 15px #bebebe,
        -5px -5px 15px #ffffff;
}

.white-bg.btn-neumorphic:hover {
    box-shadow: 3px 3px 10px #bebebe,
        -3px -3px 10px #ffffff;
    transform: translateY(-2px);
}

.white-bg.btn-neumorphic:active {
    box-shadow: inset 2px 2px 8px #a1d6a3,
        inset -2px -2px 8px #ffffff;
    transform: translateY(2px);
}

/* =========================================
   Botones Neumórficos en Fondos Negros
========================================= */
.black-bg.btn-neumorphic {
    background-color: #2e2e2e;
    /* Fondo oscuro */
    color: var(--mint-green);
    box-shadow: 5px 5px 15px #1a1a1a,
        -5px -5px 15px #4d4d4d;
}

.black-bg.btn-neumorphic:hover {
    box-shadow: 3px 3px 10px #1a1a1a,
        -3px -3px 10px #4d4d4d;
    transform: translateY(-2px);
}

.black-bg.btn-neumorphic:active {
    box-shadow: inset 2px 2px 8px #1a1a1a,
        inset -2px -2px 8px #4d4d4d;
    transform: translateY(2px);
}

/* =========================================
   Botones Neumórficos Verdes
========================================= */
.green.btn-neumorphic.white-bg {
    background-color: var(--tea-green-v2);
    color: var(--oxford-blue);
}

.green.btn-neumorphic.black-bg {
    background-color: #2e2e2e;
    color: var(--mint-green);
}

/* =========================================
   Botones Neumórficos Azules
========================================= */
.blue.btn-neumorphic.white-bg {
    background-color: var(--tiffany-blue);
    color: var(--oxford-blue);
}

.blue.btn-neumorphic.black-bg {
    background-color: #2e2e2e;
    color: var(--sky-blue);
}

/* =========================================
   Botones Neumórficos Rojos
========================================= */
.red.btn-neumorphic.white-bg {
    background-color: var(--red-color);
    color: #ffffff;
}

.red.btn-neumorphic.black-bg {
    background-color: #2e2e2e;
    color: #ff6b6b;
}

/* =========================================
   Botones Neumórficos Amarillos
========================================= */
.yellow.btn-neumorphic.white-bg {
    background-color: var(--yellow-color);
    color: var(--oxford-blue);
}

.yellow.btn-neumorphic.black-bg {
    background-color: #2e2e2e;
    color: #FFD700;
}

/* =========================================
   Contenedores de Ejemplo para Fondos
========================================= */
.white-bg-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}

.black-bg-container {
    background-color: #121212;
    /* Un gris muy oscuro para simular negro */
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}


/* =========================================
   Responsive Adjustments
========================================= */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }
}