{% extends 'core/base.html' %}

{% load static %}

{% block main_content%}

<style>
    body {
      background-image: url('/media/assets/image/2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 100vh;

    }
    


  </style>
     
      
 
  
{% endblock %}

                <!-- <a href= "{% url 'SS' %}" target=”_blank” class="btn btn-primary" type="button">Solicitudes SIG - Descarga Ficha de Traspaso </a>
                <a href= "{% url 'arcgis' %}" target=”_blank” class=" btn btn-primary" type="button">Plataformas SIG</a>
                {% if user.is_staff or user.is_superuser%}
                    <a href= http://192.168.12.207:90/admin target=”_blank” class="btn btn-primary" type="button">Solicitudes SIG - ADMINITRACION</a>
                    <a href= "{% url 'control' %}" target=”_blank” class=" btn btn-primary" type="button">Control De Usuarios</a>
                {% endif %} -->
