{% extends 'core/Slide.html' %}

{% load static %}

{% block custom_css %}
  <link href="{% static 'css/control.css' %}" rel="stylesheet" />
{% endblock %}
{% block main_content %}
  <section class="container">
    <div class="flex-column-red">
      <div class="flex-row-content p-1">
        <!-- Sección de Información: Gráfico de Barras -->
        <div class="flex-row-dashboard fill-available">
          <div class="flex-column-gap fill-available">
            <div class="info-box p-1 fill-available">
              <h3>Solicitudes por Profesional</h3>
              <canvas id="solicitudesPorProfesionalChart"></canvas>
            </div>
          </div>
        </div>

        <!-- Sección de Dashboard -->
        <div class="flex-row-dashboard">
          <!-- Parte Superior del Dashboard -->
          <div class="dashboard-top">
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-1 p-1 h-full" style="flex-direction: row; gap: 1rem;">
                <h3>Total de Solicitudes</h3>
                <p class="counter" data-target="{{ total_solicitudes }}">0</p>
              </div>
            </div>
          </div>

          <!-- Parte Media del Dashboard: Solicitudes en Proceso, Ejecutadas y Rechazadas -->
          <div class="dashboard-middle fill-available">
            <!-- Solicitudes en Proceso -->
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-3 h-full">
                <h3>En Proceso</h3>
                <p class="counter" data-target="{{ en_proceso }}">0</p>
              </div>
            </div>

            <!-- Solicitudes Ejecutadas -->
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-4 h-full">
                <h3>Ejecutadas</h3>
                <p class="counter" data-target="{{ ejecutado }}">0</p>
              </div>
            </div>

            <!-- Solicitudes Rechazadas -->
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-5 h-full">
                <h3>Rechazadas</h3>
                <p class="counter" data-target="{{ rechazado }}">0</p>
              </div>
            </div>
          </div>

          <!-- Parte Inferior del Dashboard: Promedio de Carga de Trabajo -->
          <div class="dashboard-bottom">
            <div class="flex-column-gap fill-available">
              <div class="dashboard-box-2 p-1 h-full">
                <h3>Promedio de carga de trabajo</h3>
                <p>
                  <span class="counter" data-target="{{ average_carga_trabajo }}">0</span> Días máximos
                </p>
                <ul>
                  {% for tipo in tipo_limite_stats %}
                    <li>
                      <strong>{{ tipo.tipo_limite }}</strong>: {{ tipo.dias_maximos }} Días máximos (<span class="counter" data-target="{{ tipo.total }}">0</span> solicitudes)
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
  <!-- Incluir Chart.js desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Definir las variables necesarias para el gráfico de barras -->
  <script>
    var labels = {{ labels_json|safe }};
    var data = {{ data_json|safe }};
  </script>

  <!-- Incluir el script externo de control.js -->
  <script src="{% static 'js/control.js' %}"></script>
{% endblock %}
