{% extends 'core/Slide.html' %}

{% load static %}

{% block main_content%}

{% block custom_css %} 

{% endblock custom_css %}
<style>
body {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(226, 226, 226);
    overflow-x: hidden;
 
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
.table-custom {
  background-color: #ffffff;
  color: black; /* Color de fondo de la tabla */
  }
  .container img {
    width: 370px;
    height: 370px;
}
</style>
  <section class="container">
      <div class="row">
          <div class="col-md-11 mx-auto">
              <h1>   Gestion de Imagenes SIG </h1>
              
              <br>
              <h2> Intrucciones de uso:</h2>
              <h3> 1 xd</h3>
              <div class="colum">
                <h4>Agregar una nueva imagen</h4> 
                <br>
                <br>

                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Agregar nueva imagen</button>
              </form>
              
             </div>
            <br>
          </div>
      </div>
  </section>
  <section>
    {% for grupo_imagenes in imagenes_grouped %}
        <div class="container">
            {% for imagen in grupo_imagenes %}
                {% if imagen.archivo_adjunto %}
                    <!-- Si la imagen tiene un archivo adjunto, muéstrala -->
                    <div>
                        <a href="{{ imagen.archivo_adjunto.url }}">
                            <img src="{{ imagen.archivo_adjunto.url }}" alt="Imagen">
                        </a>
                        <button onclick="copiarURL('{{ imagen.archivo_adjunto.url }}')">Copiar URL</button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</section>





  
  <!-- <tr>
      {% csrf_token %}
      <td>{{usuarios.username}}</td>
      <td><input type="checkbox" id="checkbox-{{ usuarios.id }}" {% if usuarios.is_active %}checked{% endif %}> Activo</td>
      
      <td><button class="btn btn-primary" type="submit"> Cambiar contraseña</button></td>
  </tr> -->
  {% block custom_js %}
  <script>
    function copiarURL(url) {
        // Obtener el dominio de la página actual
        var dominio = window.location.origin;
        // Agregar el dominio a la URL de la imagen
        var urlCompleta = dominio + url;
        
        // Crear un campo de texto temporal
        var campoTemporal = document.createElement('textarea');
        campoTemporal.value = urlCompleta;
        
        // Agregar el campo temporal al DOM
        document.body.appendChild(campoTemporal);
        
        // Seleccionar y copiar el texto en el campo temporal
        campoTemporal.select();
        document.execCommand('copy');
        
        // Eliminar el campo temporal
        document.body.removeChild(campoTemporal);
        
        // Mostrar un mensaje de éxito
        alert('URL copiada: ' + urlCompleta);
    }
</script>


    
  
{% endblock custom_js %}
{% endblock %}