{% extends 'core/Slide.html' %}

{% load static %}

{% block main_content%}

{% block custom_css %} 

{% endblock custom_css %}
<style>
body {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(226, 226, 226);
    overflow-x: hidden;
 
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
.table-custom {
  background-color: #ffffff;
  color: black; /* Color de fondo de la tabla */
  }
</style>
  <section class="container">
      <div class="row">
          <div class="col-md-11 mx-auto">
              <h2>   Historial Usuarios </h2>
              <table id= "tabla_registro" class="display table-striped table-bordered table-custom" style="width: 100%; height: 10px;">
                  <thead style="background-color: rgb(160, 160, 160);"> 
                      <tr>    
                          <th class="text-center">Usuario</th>
                          <th class="text-center">Pagina</th>
                          <th class="text-center">Hora-dia-visita</th>
                      </tr>
                      <tbody >
                          {% csrf_token %}
                          {% for historial in historial%}
                          {% if not historial.is_superuser and not historial.is_staff %}
                          <tr>
                              <td class="text-center">{{historial.get_username}}</td>
                              <td class=" text-center ">{{historial.page}}</td>
                              <td class=" text-center ">{{historial.timestamp}}</td>
                          </tr>
                              {%endif%}
                          {% empty %}
                          <tr>
                              <td>No hay datos</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </thead>
              </table>
              <br>
                  <a href="{% url 'download_excel' %}" target=”_blank” class="btn btn-primary">Descargar Excel</a>
            <br>
          </div>
      </div>
  </section>
  
  <!-- <tr>
      {% csrf_token %}
      <td>{{usuarios.username}}</td>
      <td><input type="checkbox" id="checkbox-{{ usuarios.id }}" {% if usuarios.is_active %}checked{% endif %}> Activo</td>
      
      <td><button class="btn btn-primary" type="submit"> Cambiar contraseña</button></td>
  </tr> -->
  {% block custom_js %}
  <script>
      //Darle diseño a al tabla mediante JS
      document.getElementById("tabla_registro").style.display = "none";
      $(document).ready( function () {
          $('#tabla_registro').DataTable({
              pageLength: 8,
              lengthChange: false,
              language: {
                  url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json'
              }, 
              
              initComplete: function () {
                  $("#tabla_registro").show();
                  
              }
          });
      } );
    
  
  </script>
{% endblock custom_js %}
{% endblock %}