{% extends 'core/Slide.html' %}

{% load static %}

{% block main_content%}

{% block custom_css %} 

{% endblock custom_css %}


<link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>

<link rel="stylesheet" href="{% static 'css/table.css' %}" />


<section class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <br>
            
            <h2 style="text-align: center;">   Solicitudes SIG </h2>
            <table id="tabla_registro" class="display table-custom" style='width: 100%;  font-family: "Roboto Condensed"'>
                <thead>
                    <tr>
                        <th>Id de la solicitud</th>
                        <th>solicitante</th>
                        <th>Fecha de llegada</th>
                        <th>Departamento</th>
                        <th style="min-width: 220px;">Acciones</th>
                        <th>Profesional SIG</th>
                        <th>Estado</th>
                        <th>Carga de trabajo</th>
                        <th>Fecha Designio</th>
                        <th>Fecha Termino</th>
                        <th>Dias Restante</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in Solicitudes %}
                    <tr>
                        <td data-label="Numero de creacion solicitud">{{ item.solicitud.id }}</td>
                        <td data-label="Nombre del solicitante">
                            <p style="font-weight: bolder;" class="nombre-solicitante">
                                {{ item.solicitud.nombre_solicitante }}

                            </p>
                        </td>
                        <td data-label="Fecha de llegada">{{ item.solicitud.fecha|date:"Y/m/d H:i" }}</td>
                        <td data-label="Departamento" class="nombre-solicitante">{{ item.solicitud.departamento }}</td>
                        <td data-label="Descargar Ficha">
                            <a style="text-decoration: none; position: relative;" href="/solicitud/descargar_pdf/{{ item.solicitud.id }}" download>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="acciones">
                                    <path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32v242.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64h384c35.3 0 64-28.7 64-64v-32c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
                                </svg>
                            </a>

                            <a style="text-decoration: none;" href="#" data-id="{{ item.solicitud.id }}" class="preview-link">

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="acciones">
                                    <path d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/>
                                </svg>
                            </a>
                       

                            {% if item.solicitud.enviado_correo %}

                                <a style="text-decoration: none; position: relative;" href="#" class="email-link" data-bs-toggle="modal" data-bs-target="#dynamicEmailModal" data-email-id="1" data-id="{{ item.solicitud.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="acciones" style="fill: rgb(66, 190, 13);">
                                        <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                                    </svg>
                                </a>
                            {% else %}

                                <a style="text-decoration: none; position: relative;" href="#" class="email-link" data-bs-toggle="modal" data-bs-target="#dynamicEmailModal" data-email-id="1" data-id="{{ item.solicitud.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="acciones">
                                        <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                                    </svg>
                                </a>
                            {% endif %}
                            
                        {% if request.user.is_superuser %}


                            {% if item.numero_designios == 0 %}
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="acciones" style="fill: darkgrey;">
                                    <path d="M128 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm32 97.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80S48 51.8 48 96c0 32.8 19.7 61 48 73.3L96 224l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0 0 54.7c-28.3 12.3-48 40.5-48 73.3c0 44.2 35.8 80 80 80s80-35.8 80-80c0-32.8-19.7-61-48-73.3l0-54.7 256 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-54.7c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 32.8 19.7 61 48 73.3l0 54.7-320 0 0-54.7zM488 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM320 392a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
                                </svg>
                            
                            {% else %}

                            <a style="text-decoration: none;" href="#" data-protocolo-id="{{ item.solicitud.id }}" class="registro-preview-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="acciones">
                                    <path d="M128 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm32 97.3c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80S48 51.8 48 96c0 32.8 19.7 61 48 73.3L96 224l-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0 0 54.7c-28.3 12.3-48 40.5-48 73.3c0 44.2 35.8 80 80 80s80-35.8 80-80c0-32.8-19.7-61-48-73.3l0-54.7 256 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-54.7c28.3-12.3 48-40.5 48-73.3c0-44.2-35.8-80-80-80s-80 35.8-80 80c0 32.8 19.7 61 48 73.3l0 54.7-320 0 0-54.7zM488 96a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM320 392a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/>
                                </svg>
                            </a>

                            {% endif %}

                        {% endif %}
                            

                        </td>
                        <td data-label="Profesional Asignado">
                            <!-- Select de profesional -->
                            {% if request.user.is_superuser %}
                            <div class="select-wrapper">
                                <select id="profesional-{{ item.solicitud.id }}" class="profesional-select" 
                                        data-solicitud-id="{{ item.solicitud.id }}" 
                                        data-antiguo-profesional="{% if item.solicitud.profesional %}{{ item.solicitud.profesional.id }}{% else %}None{% endif %}" 
                                        required>
                                    <option value="" disabled {% if not item.solicitud.profesional %}selected{% endif %}>Selecciona un profesional</option>
                                    {% for usuario in Usuarios %}
                                    <option value="{{ usuario.id }}" {% if item.solicitud.profesional and usuario.id == item.solicitud.profesional.id %}selected{% endif %}>
                                        {{ usuario.first_name }} {{ usuario.last_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        
                            {% else %}
                            <select id="profesional-{{ item.solicitud.id }}" class="profesional-select" data-solicitud-id="{{ item.solicitud.id }}" disabled>
                                <option value="" disabled {% if not item.solicitud.profesional %}selected{% endif %}>Selecciona un profesional</option>
                                {% for usuario in Usuarios %}
                                <option value="{{ usuario.id }}" {% if item.solicitud.profesional and usuario.id == item.solicitud.profesional.id %}selected{% endif %}>
                                    {{ usuario.first_name }} {{ usuario.last_name }}
                                </option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </td>

                        <td data-label="Estado actual">

                            {% if request.user.is_superuser %}
                            
                            <select name="estado" class="estado-select" data-solicitud-id="{{ item.solicitud.id }}">
                                {% for estado in OPCIONES.ESTADO %}
                                <option value="{{ estado.0 }}" {% if estado.0 == item.solicitud.estado %}selected{% endif %}>
                                    {{ estado.1 }}
                                </option>
                                {% endfor %}
                            </select>

                            {% else %}
                                <select name="estado" class="estado-select" data-solicitud-id="{{ item.solicitud.id }}" disabled>
                                    {% for estado in OPCIONES.ESTADO %}
                                    <option value="{{ estado.0 }}" {% if estado.0 == item.solicitud.estado %}selected{% endif %}>
                                        {{ estado.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                            
                            
                            {% endif %}
                            
                        </td>
                        <td data-label="Carga de trabajo">
                            <select name="limite" class="limite-select" data-solicitud-id="{{ item.solicitud.id }}" {% if not request.user.is_superuser %}disabled{% endif %}>
                                {% for limite in OPCIONES.LIMITE_DE_DIA %}
                                <option value="{{ limite.0 }}" {% if limite.0 == item.solicitud.tipo_limite %}selected{% endif %}>{{ limite.1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td data-label="Fecha Designio">{{ item.solicitud.fecha_D|date:"Y/m/d H:i" }}</td>
                        <td data-label="Fecha Termino">{{ item.solicitud.fecha_T|date:"Y/m/d H:i" }}</td>

                        {% if item.solicitud.estado == 'RECHAZADO' %}
                        <td data-label="Estado" class="text-muted">
                            RECHAZADO
                        </td>
                        {% else %}
                            <td data-label="Estado" 
                                class="{% if 'Trabajo terminado' in item.dias_restantes %}text-success
                                    {% elif 'Pasada por' in item.dias_restantes %}text-danger
                                    {% elif 'Te quedan' in item.dias_restantes %}text-warning
                                    {% else %}text-muted{% endif %}">
                                {{ item.dias_restantes }}
                            </td>
                        {% endif %}

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">No hay datos</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #707eff;">
              <h5 class="modal-title" id="previewModalLabel">Vista previa de solicitud</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <p id="previewData"></p>
            </div>
          </div>
         
        </div>
    </div>

<!-- Modal Dinámico de ENVIAR AL CORREO -->
<div class="modal fade" id="dynamicEmailModal" tabindex="-1" aria-labelledby="dynamicEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dynamicEmailModalLabel">Enviar Correo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="dynamicEmailForm">
                    <!-- Campo para agregar correos -->
                    <div class="mb-3">
                        <h4>Instrucciones:</h4>

                        <ul>
                            {% if request.user.is_superuser %}
                            <li>En el punto 1: Ya se encuentra en copia el profesional SIG.</li>
                            {% else %}
                            <li>En el punto 1: Ya se encuentra en copia la jefatura o el suplente SIG, además del solicitante.</li>
                            {% endif %}

                            <li>En el punto 2: Solo es necesario escribir el mensaje, ya que el cierre con <strong>Atentamente</strong> viene por defecto.</li>
                            <li>En el punto 3: La solicitud de protocolo ya está adjuntada.</li>

                          </ul>

    

                    </div>
                    

                    <div class="mb-3">
                        <label for="emailInput" class="form-label">1. Agregar en copia</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Ingresa un correo">
                    </div>

                    <!-- Botón para agregar correo -->
                    <button type="button" class="btn btn-primary mb-3" onclick="addEmail()">Agregar Correo</button>

                    <!-- Lista de correos agregados -->
                    <ul id="emailList" class="list-group mb-3">
                    </ul>

                    <!-- Área de texto para mensaje -->
                    <div class="mb-3">
                        <label for="messageText" class="form-label">2. Mensaje</label>
                        <textarea class="form-control" id="messageText" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
                    </div>
                    

                    <!-- Campo para adjuntar archivos -->
                    <div class="mb-3">
                        <label for="fileInput" class="form-label">3. Adjuntar Archivos máximo 300MB </label>
                        <input type="file" class="form-control" id="fileInput" multiple>
                    </div>

                    <!-- Lista de archivos adjuntados -->
                    <ul id="fileList" class="list-group mb-3"></ul>
                </form>
            </div>
            <br>
            <div id="loadingSpinner" class="text-center mb-3" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Enviando...</span>
                </div>
                <p>Enviando datos, por favor espera...</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="sendData()">Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Bootstrap para el motivo del cambio -->
<div class="modal fade" id="registro_De_Designio" tabindex="-1" role="dialog" aria-labelledby="registro_De_DesignioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registro_De_DesignioLabel">Motivo del cambio de profesional</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="motivoCambioForm">
            <div class="form-group">
              <label for="motivo">Motivo del cambio</label>
              <textarea class="form-control" id="motivo" name="motivo" rows="3" required></textarea>
            </div>
            <input type="hidden" id="nuevo_profesional_id" name="nuevo_profesional_id">
            <input type="hidden" id="solicitud_id" name="solicitud_id">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="guardarMotivo">Guardar motivo</button>
        </div>
      </div>
    </div>
  </div>
  

<div class="modal fade" id="registroPreviewModal" tabindex="-1" aria-labelledby="registroPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #707eff;">
                <h5 class="modal-title" id="registroPreviewModalLabel">Vista previa de registros</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="registroPreviewData"></div>
            </div>
        </div>
    </div>
</div>

</section>

{% block custom_js %}
<script>
    //Darle diseño a al tabla mediante JS
    $(document).ready(function () {
    var tabla = $('#tabla_registro').DataTable({
        searching: false,
        pageLength: 12,
        lengthChange: false,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json'
        },
        order: [[0, 'desc']] // '0' indica la primera columna (Solicitudes.id), 'desc' indica orden descendente
    });

    var previousValues = {}; // Objeto para almacenar los valores anteriores de cada select por ID

// Guardar el valor anterior antes del cambio
$(".limite-select").focus(function () {
    var solicitudId = $(this).data('solicitud-id'); // Obtener el ID único de la solicitud
    previousValues[solicitudId] = $(this).val(); // Guardar el valor anterior asociado al ID
});

$(".limite-select").change(function () {
    var solicitudId = $(this).data('solicitud-id'); // Obtener el ID de la solicitud
    var nuevoLimite = $(this).val(); // Obtener el nuevo límite seleccionado
    var profesionalSelect = $("select[data-solicitud-id='" + solicitudId + "']"); // Obtener el select del profesional basado en la solicitud ID
    var profesional = profesionalSelect.val(); // Obtener el valor seleccionado del <select> de profesional

    // Si nuevoLimite es 'P', solicitar fecha obligatoria
    if (nuevoLimite === 'P') {
        var dias = prompt("Selecciona la cantidad de días que deseas agregar:", "1");

        // Verificar que el usuario haya ingresado un valor para los días
        if (dias !== null && dias !== '') {
            // Validar profesional antes de hacer la solicitud AJAX
            if (profesional !== undefined && profesional !== null && profesional !== '') {
                $.ajax({
                    url: "{% url 'actualizar_limite' %}", // URL del endpoint
                    type: "POST",
                    data: {
                        solicitud_id: solicitudId,
                        nuevoLimite: nuevoLimite,
                        dias: dias, // Agregar los días al envío de datos
                        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val() // Obtener el CSRF token de un input oculto
                    },
                    success: function (response) {
                        // Manejar la respuesta exitosa
                        alert("Estado actualizado correctamente");
                    },
                    error: function (xhr, status, error) {
                        // Manejar el error si ocurre
                        alert("Error al actualizar el estado:", error);
                        $(this).val(previousValues[solicitudId]); // Restaurar el valor anterior en caso de error
                    }
                });
            } else {
                alert("El profesional seleccionado es 'Selecciona un profesional', no se realizará ninguna acción.");
                $(this).val(previousValues[solicitudId]); // Restaurar el valor anterior
            }
        } else {
            alert("Debe ingresar una cantidad de días válida.");
            $(this).val(previousValues[solicitudId]); // Restaurar el valor anterior
        }
    } else {
        // Si nuevoLimite no es 'P', lógica normal
        if (profesional !== undefined && profesional !== null && profesional !== '') {
            $.ajax({
                url: "{% url 'actualizar_limite' %}", // URL del endpoint
                type: "POST",
                data: {
                    solicitud_id: solicitudId,
                    nuevoLimite: nuevoLimite,
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val() // Obtener el CSRF token de un input oculto
                },
                success: function (response) {
                    // Manejar la respuesta exitosa
                    alert("Estado actualizado correctamente");
                },
                error: function (xhr, status, error) {
                    // Manejar el error si ocurre
                    alert("Error al actualizar el estado:", error);
                    $(this).val(previousValues[solicitudId]); // Restaurar el valor anterior en caso de error
                }
            });
        } else {
            alert("El profesional seleccionado es 'Selecciona un profesional', no se realizará ninguna acción.");
            $(this).val(previousValues[solicitudId]); // Restaurar el valor anterior
        }
    }
});
});


    $(".profesional-select").change(function() {
    var solicitudId = $(this).data('solicitud-id');
    var nuevoProfesional = $(this).val();
    var antProfesional = $(this).data('antiguo-profesional');
    console.log(antProfesional)
    // Verificar si el profesional anterior está vacío o es None
    if (!antProfesional || antProfesional === "None") {
        // Si el profesional anterior es None o vacío, solo actualizar directamente
        actualizarProfesional(solicitudId, nuevoProfesional);
    } else {
        // Si hay un profesional anterior, mostrar el modal para el motivo
        $("#nuevo_profesional_id").val(nuevoProfesional);
        $("#solicitud_id").val(solicitudId);
        $("#registro_De_Designio").modal("show");
    }
});


    // Función para actualizar el profesional sin motivo
    function actualizarProfesional(solicitudId, nuevoProfesional) {
        var csrfToken = '{{ csrf_token }}';

        $.ajax({
            url: "{% url 'actualizar_profesional' %}",
            type: "POST",
            data: {
                solicitud_id: solicitudId,
                profesional: nuevoProfesional,
                csrfmiddlewaretoken: csrfToken
            },
            success: function(response) {
                if (response.success) {
                    $("#response-message").html('<div class="alert alert-success">Profesional actualizado correctamente sin motivo</div>');
                } else {
                    $("#response-message").html('<div class="alert alert-danger">Error al actualizar el profesional</div>');
                }
            },
            error: function(xhr, status, error) {
                $("#response-message").html('<div class="alert alert-danger">Ocurrió un error al actualizar el profesional</div>');
                console.error("Error al actualizar el profesional:", error);
            }
        });
    }

    // Al hacer clic en "Guardar motivo" en el modal
    $("#guardarMotivo").click(function() {
        var motivo = $("#motivo").val();
        var solicitudId = $("#solicitud_id").val();
        var nuevoProfesional = $("#nuevo_profesional_id").val();
        var csrfToken = '{{ csrf_token }}';

        if (!motivo) {
            alert("Debe ingresar el motivo del cambio.");
            return;
        }

        $.ajax({
            url: "{% url 'actualizar_profesional' %}",
            type: "POST",
            data: {
                solicitud_id: solicitudId,
                profesional: nuevoProfesional,
                motivo: motivo,
                csrfmiddlewaretoken: csrfToken
            },
            success: function(response) {
                if (response.success) {
                    $("#response-message").html('<div class="alert alert-success">Profesional y motivo actualizados correctamente</div>');
                    location.reload();

                } else {
                    $("#response-message").html('<div class="alert alert-danger">Error al actualizar el profesional</div>');
                }
                $("#registro_De_Designio").modal("hide");
            },
            error: function(xhr, status, error) {
                $("#response-message").html('<div class="alert alert-danger">Ocurrió un error al actualizar el profesional</div>');
                console.error("Error al actualizar el profesional:", error);
                $("#registro_De_Designio").modal("hide");
            }
        });
    });

    
    
        
    var previewLinks = document.querySelectorAll('.preview-link');
    previewLinks.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    
        var registroId = parseInt(this.getAttribute('data-id')); // Convertir a número
    
        // Hacer una solicitud AJAX a la vista de Django para obtener los datos del registro
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/solicitud/vista_previa/' + registroId, true);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
    
            var previewDataElement = document.getElementById('previewData');
            previewDataElement.innerText =   'Fecha de la Solicitud: ' + data.fecha
                                           + '\n'
                                           + '\nCodigo: ' + data.codigo
                                           + '\n'
                                           + '\nDirección: ' + data.direccion
                                           + '\n'
                                           + '\nDepartamento o Unidad Responsable: ' + data.departamento
                                           + '\n'
                                           + '\nNombre del solicitante: ' + data.nombre_solicitante
                                           + '\n'
                                           + '\nNombre del proyecto: ' + data.nombre_proyecto
                                           + '\n'
                                           + '\nCorreo del solicitante: ' + data.corre_solicitante
                                           + '\n'
                                           + '\nArea De estudio: ' + data.area
                                           + '\n'
                                           + '\nObjetivos de la solicitud:' + data.objetivos
                                           + '\n'
                                           + '\nInsumo Solicitado: ' + data.insumo
                                           + '\n'
                                           + '\nProductos: ' + data.productos
                                           + '\n'
                                           + '\nCambios posible en el Insumo Entregado: ' + data.Cambios
                                           + '\n';
                                           
                                           if (data.archivos_adjuntos_urls && data.archivos_adjuntos_urls.length > 0) {
        // Agregar enlaces a los archivos adjuntos si existen
        previewDataElement.innerHTML += '<br><br><strong>Archivos Adjuntos:</strong><br>';
        data.archivos_adjuntos_urls.forEach(function(url) {
            previewDataElement.innerHTML += '<a href="' + url + '" download>' + url.split('/').pop() + '</a><br>';
        });
    } else {
        // Manejar el caso en el que no hay archivos adjuntos
        previewDataElement.innerHTML += '<br><br>No hay archivos adjuntos disponibles';
    }
    
    
      
            $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
          }
        };
        xhr.send();
      });
    });

</script>

<script>
    let selectedFichaId = null; // Variable global para almacenar el ID de la ficha seleccionada

    // Agregar un evento 'click' a cada enlace para capturar el data-id
    document.querySelectorAll('.email-link').forEach(link => {
        link.addEventListener('click', function(event) {
            selectedFichaId = this.getAttribute('data-id'); // Guardar el data-id del enlace seleccionado
        });
    });


    function addEmail() {
        const emailInput = document.getElementById('emailInput');
        const emailList = document.getElementById('emailList');
        const email = emailInput.value.trim();

        if (email) {
            // Crear un elemento de lista para el nuevo correo
            const listItem = document.createElement('li');
            listItem.classList.add('list-group-item');
            listItem.textContent = email;

            // Agregar el elemento a la lista
            emailList.appendChild(listItem);

            // Limpiar el campo de entrada
            emailInput.value = '';
        }
    }

    // Manejar la selección de archivos y mostrar los nombres en la lista
    document.getElementById('fileInput').addEventListener('change', function () {
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = ''; // Limpiar la lista de archivos anteriores

        for (const file of this.files) {
            const listItem = document.createElement('li');
            listItem.classList.add('list-group-item');
            listItem.textContent = file.name;
            fileList.appendChild(listItem);
        }
    });

    function sendData() {
    // Mostrar el spinner de carga
    document.getElementById('loadingSpinner').style.display = 'block';

    // Recopilar los correos de la lista
    const emailList = Array.from(document.getElementById('emailList').children).map(item => item.textContent);
    
    // Recopilar el mensaje
    const messageText = document.getElementById('messageText').value;
    
    // Recopilar los archivos
    const fileInput = document.getElementById('fileInput');
    const formData = new FormData();
    formData.append('emails', JSON.stringify(emailList)); // Convertir la lista de correos a JSON
    formData.append('message', messageText);
    formData.append('ficha_id', selectedFichaId); // Usar el id de la ficha seleccionada
    
    for (const file of fileInput.files) {
        formData.append('files', file); // Agregar cada archivo al FormData
    }

    // Enviar datos mediante AJAX
    fetch('/correos/', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}', // CSRF token para Django
        }
    })
    .then(response => response.json())
    .then(data => {
        // Ocultar el spinner de carga
        document.getElementById('loadingSpinner').style.display = 'none';

        if (data.success) {
            alert('Datos enviados con éxito');
            setTimeout(() => {
                const modal = bootstrap.Modal.getInstance(document.getElementById('dynamicEmailModal'));
                modal.hide();
                location.reload();

            }, 1000);
        } else {
            alert('Hubo un problema al enviar los datos');
        }
    })
    .catch(error => {
        document.getElementById('loadingSpinner').style.display = 'none';
        console.error('Error:', error);
        alert('Ocurrió un error al enviar los datos');
    });
}



</script>

<script>
var previewLinks = document.querySelectorAll('.registro-preview-link');

previewLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
        event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

        var protocoloId = parseInt(this.getAttribute('data-protocolo-id')); // Convertir a número

        // Hacer una solicitud AJAX a la vista de Django para obtener los datos
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/vista_previa_reaccinacion/' + protocoloId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);

                // Seleccionar el contenedor para mostrar los datos
                var previewDataElement = document.getElementById('registroPreviewData');
                previewDataElement.innerHTML = ''; // Limpiar contenido previo

                data.registros.forEach(function(registro) {
                    previewDataElement.innerHTML += 
                        '<p><strong>Profesional Anterior:</strong> ' + registro.Profesional_N + ' '+ registro.Profesional_N_1  +'</p>' +
                        '<p><strong>Objeto:</strong> ' + registro.Motivo + '</p>' +
                        '<p><strong>Fecha:</strong> ' + registro.Fecha + '</p>' +
                        '<hr>';
                });

                // Mostrar el modal
                $('#registroPreviewModal').modal('show');
            }
        };
        xhr.send();
    });
});



</script>


{% endblock custom_js %}
{% endblock %}